<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/static/css/error.css">
    <link rel="shortcut icon" href="/frontend/static/images/icon.png" type="image/x-icon">
    <title>error</title>
</head>
<body>
    <div class="container">
        <img src="/frontend/static/images/error1.jpg">
        <div class="text">
            <h1>{{.Type}}</h1>
        <h2>{{.Status}}</h2>
        </div>
     <div class="btn">
        <a href="/"><button>home</button></a>
     </div>
    </div>
</body>
</html>